footer {
  background: #212121;
  padding-top: 50px;
}

footer h1 {
  border-top: 1px solid #fbcd76;
  background: #132c38;
  padding: 20px 160px;
  color: #fff;
}

.mobileFooter {
  display: none;
  border-top: 1px solid #c4cdcc;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  background: #132c38;
}

.mobileFooter img {
  width: 20px;
  height: 20px;
}

.mobileFooter a.active img {
  fill: #fbcd76 !important;
}

@media (max-width: 900px) {
  .desktopFooter {
    display: none;
  }

  .mobileFooter {
    display: flex !important;
  }
}
